{% extends "base.html" %}

{% block title %}اختيار الكلية{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header">
            <h4>اختيار الكلية</h4>
        </div>

        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">الكلية</label>
                    <select name="faculty_id" class="form-select" required>
    <select name="faculty_id" class="form-select" required>
    <option value="">-- اختر الكلية --</option>
    {% for f in faculties %}
        <option value="{{ f.id }}">{{ f.name }}</option>
    {% endfor %}
</select>


                </div>

                <button type="submit" class="btn btn-primary">
                    دخول الكلية
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
